__pycache__/
*.pyc
.env
venv/
.vscode/
/data/
!/data/.gitkeep
/models/*
!/models/sentiment_model.joblib
!/models/.gitkeep
/logs/
!/logs/.gitkeep
*.joblib
!models/sentiment_model.joblib
*.pdf
*.zip
*.mkv